.admin-products-sec {
  h2 {
    color: black;
  }
  .product-sec-buttons {
    button {
      font-weight: 700;
    }
  }

  .product-list {
    .product-list__header {
      border-bottom: 1px solid gray;
      button {
        font-size: 0.8rem;
        font-weight: 600;
        color: grey;
        padding-bottom: 1.5rem;
        &:hover {
          border-bottom: 3px solid gray;
        }
      }
      .active {
        color: black;
        border-bottom: 3px solid #008060;
      }
    }
    .product-list__filters {
      input {
        padding: 1rem;
      }
      button {
        font-size: 0.85rem;
        font-weight: 600;
      }
      .right {
        margin-right: 1rem;
        span {
          margin-left: 0.5rem;
        }
      }
    }
  }
  .product-list__body {
    .product-list__body--header {
      .h4 {
        font-size: 0.85rem;
        font-weight: 500;
        color: black;
      }
    }
  }
}

.admin-new-product-sec {
  hr {
    border-bottom: 1px solid rgb(226, 224, 224);
    margin: 0.5rem 0;
  }
}
